<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">公司及团队介绍</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/team/team.png" alt="" style="padding-top:10px;">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="padding-top:0px;">
          <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
            关于高铭科维
          </h2>
          <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
              高铭科维科技无锡有限公司是一家专注于新一代数字标识技术研发的科技型企业，凭借自主研发的纳维码标识技术，正在为金融、工业、包装、防伪等多个领域提供稳定可靠的行业解决方案，并收到客户的信赖。
              <br>
              公司70%以上的研发人员为硕士以上学位，涉及纳米材料、光学、计算机、电子自动化等多种学科；管理团队负责人曾经在世界500强企业担任全球副总裁，拥有丰富的的管理经验。
              <br>
              公司目前在澳大利亚的悉尼成立了核心技术研发中心，在中国无锡成立了全球产业化中心，在新加坡成立了全球运营中心
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->



<!--
==================================================
Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
<div class="container-fluid">
<div class="row">
    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
        <h2>
        悉尼 - 核心技术研发中心
        </h2>
        <p>
            Unit A3, 16 Mars Road, Lane Cove West Sydney
            <br>
            Australia NSW 2066
            <br>
            Telephone: +61 2 9420 9163
        </p>
    </div>
    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
        <h2 class="item_title">
        无锡 - 全球产业化中心
        </h2>
        <p>
            江苏省无锡市新吴区菱湖大道200号
            <br>
            中国传感网国际创业园，G10幢11楼
            <br>
            联系电话：0510-83581856
        </p>
    </div>
    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
        <h2 class="item_title">
        新加坡 - 全球运营中心
        </h2>
        <p>
            101 Cecil Street, #18-12, Tong Eng Building
            <br>
            Singapore
            <br>
            069533
        </p>
    </div>
</div>
</div>
</section>
