<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          <!-- Slider -->
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
              <span>物联网数据基石的构建者</span>
              <br>
              <span class="cd-words-wrapper">
                <b class="is-visible" style="color:#64c3cc">纳维码</b>
                <b style="color:#64c3cc">NDCode™</b>
              </span>
            </h1>
          </section>
          <!-- cd-intro -->
          <!-- /.slider -->
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
            完美融合纳米技术、光子技术和信息技术的下一代物联网数字标识技术
          </h2>
          <!-- <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works">详细介绍</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#main-slider-->




<!--
==================================================
About Section Start
================================================== -->
<section id="about" style="background: #FCFCFC;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:30px;">
          <h2>
            关于纳维码
          </h2>
          <p>
            纳维码是由纳米材料制成，并通过特殊算法进行排列组合形成的一种新型的数字标识。
            <br>
            纳米材料以它的微小尺寸闻名，用纳米材料组成的纳维码肉眼无法识别，而且纳米材料可以完美的融合物体的内部，拥有超强的附着力，可实现与被标识物的无缝集成。
          </p>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".5s" data-wow-duration="500ms">
          <img src="/images/NDCode.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->


<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
      <div class="section-heading">
        <h1 class="title wow fadeInDown" data-wow-delay=".3s">技术优势</h1>
        <p class="wow fadeInDown" data-wow-delay=".5s">
          纳维码技术相比较二维码、RFID等常见的数字标识技术，技术优势非常显著，可应用于二维码、RFID不能使用的场景
          <br>
          例如高温、低温、高湿、强磁、弧面等恶劣环境
        </p>
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="row service-parts">
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                <i class="icon ion-ios-flame"></i>
                                <h4>耐高温</h4>
                                <p>最高温度支持<b style="color:#F33005;">1000˚c</b></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                <i class="icon ion-ios-flashlight"></i>
                                <h4>超强识别</h4>
                                <p>可在<b style="color:#F33005;">全黑暗</b>的环境中识别码，可在<b style="color:#F33005;">30%破损</b>情况下识别</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                <i class="icon ion-ios-cube"></i>
                                <h4>任意形状</h4>
                                <p>可根据产品的外观，将码做成任意形状，最小<b style="color:#F33005;">5mm*5mm</b>，且适用于有弧度的表面</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                <i class="icon ion-ios-eye-off"></i>
                                <h4>隐形</h4>
                                <p>可做成<b style="color:#F33005;">隐形</b>或者<b style="color:#F33005;">不隐形</b>码</p>
                            </div>
                        </div>
                      </div>
                      <div class="row service-parts">
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                <i class="icon ion-ios-battery-charging"></i>
                                <h4>长寿命</h4>
                                <p>码的寿命可达到<b style="color:#F33005;">100年</b>以上</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                <i class="icon ion-ios-hammer"></i>
                                <h4>强度高</h4>
                                <p>支持较恶劣生产环境中的<b style="color:#F33005;">磨损</b>，不怕<b style="color:#F33005;">潮湿、电磁干扰、腐蚀</b></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                <i class="icon ion-ios-shuffle"></i>
                                <h4>适用广</h4>
                                <p>直接<b style="color:#F33005;">嵌入到材料本体</b>，可以适用于各种材质，包括金属、纸张、皮革、塑料等</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                <i class="icon ion-ios-speedometer"></i>
                                <h4>高速</h4>
                                <p>打码<b style="color:#F33005;">3秒</b>内，扫码<b style="color:#F33005;">1秒</b>内</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature"  style="background: #FCFCFC;">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">纳维码适用的材质</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                纳维码基于纳米材料，本身具有较强的吸附能力，可以应用于绝大多数日常使用的材料
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                      <div class="icon">
                          <img src="/images/materials/1.jpg" alt="..." class="img-rounded" >
                      </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">纸张</h4>
                        <p>包括印刷纸、新闻纸、胶版印刷纸、铜版纸、书皮纸、字典纸、拷贝纸、板纸等</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <img src="/images/materials/2.jpg" alt="..." class="img-rounded" >
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">皮革</h4>
                        <p>包括天然皮革和代用革，如牛皮、羊皮、猪皮、再生革、人造革、合成革、PU革</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <img src="/images/materials/3.jpg" alt="..." class="img-rounded" >
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">金属</h4>
                        <p>包括碳素钢，如低碳钢(C≤0.25%)、中碳钢(C≤0.25~0.60%)、高碳钢(C≤0.60%)，合金钢等</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-left">
                        <div class="icon">
                            <img src="/images/materials/4.jpg" alt="..." class="img-rounded" >
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">玻璃</h4>
                        <p>包括平板玻璃、钢化玻璃、磨砂玻璃等，也包括日用品罐装使用的玻璃瓶罐</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-left">
                        <div class="icon">
                            <img src="/images/materials/5.jpg" alt="..." class="img-rounded" >
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">铝箔</h4>
                        <p>可应用于食品、饮料、香烟、药品、家庭日用品等使用的铝箔材料上</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                    <div class="media-left">
                        <div class="icon">
                            <img src="/images/materials/6.jpg" alt="..." class="img-rounded" >
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">陶瓷</h4>
                        <p>包括日用瓷器、艺术陶瓷、工业陶瓷等</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#feature -->





<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">应用场景</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        纳维码凭借其本身的技术特性，在众多领域有着广泛的应用前景
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/industry.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
            <div class="overlay">
              <div class="buttons">
                <a target="_blank" href="/solutions/1">详细</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4>
              <a href="/solutions/1" target="_blank" >
                工业4.0
              </a>
            </h4>
            <p>
              产品质量追溯、高价值耗材管理
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/traceability.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
            <div class="overlay">
              <div class="buttons">
                <a target="_blank" href="/solutions/2">详细</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4>
              <a href="/solutions/2" target="_blank" >
                流通溯源
              </a>
            </h4>
            <p>
              奢侈品、药品与医疗器械、农产品、电子产品
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/authentication.jpg" class="img-responsive" alt="" style="height:270px;width:100%;">
            <div class="overlay">
              <div class="buttons">
                <a target="_blank" href="/solutions/3">详细</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4>
              <a href="/solutions/3" target="_blank">
                文档及票据防伪
              </a>
            </h4>
            <p>
              证书、金融票据、证卡
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- #works -->
