<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>高铭科维科技无锡有限公司</title>
        <meta name="description" content="">
        <meta name="keywords" content="高铭科维,纳维码">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <!-- <link rel="stylesheet" href="plugins/ionicons/ionicons.min.css"> -->

        <link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
        <!-- animate css -->
        <link rel="stylesheet" href="/plugins/animate-css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="/plugins/slider/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="/plugins/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/plugins/owl-carousel/owl.theme.css">
        <!-- Fancybox -->
        <link rel="stylesheet" href="/plugins/facncybox/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>


        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="/" >
                            <img src="/images/logo.png" alt="" height="50" style="margin-top: -15px">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">首页</a></li>
                            <li><a href="/products">公司产品</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">解决方案 <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="/solutions/1">工业产品质量追溯</a></li>
                                        <li><a href="/solutions/2">流通溯源</a></li>
                                        <li><a href="/solutions/3">文档及票据防伪</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- <li><a href="/news">新闻中心</a></li> -->
                            <li><a href="/about_company">关于公司</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


<%= yield %>

<!--
==================================================
Call To Action Section Start
================================================== -->
<section id="call-to-action">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="block">
          <h2>联系方式</h2>
          <p>江苏省无锡市新吴区菱湖大道200号，中国传感网国际创业园，G10幢11楼</p>
          <p>联系电话：186-2605-6255</p>
          <p>商务合作：wu.da@mos-gmkw.com</p>
        </div>
      </div>
    </div>
  </div>
</section>



<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
    <div class="container">
        <div class="col-md-8">
          <p class="copyright">
            ©2016-<span><script>document.write(new Date().getFullYear())</script></span>
            ，高铭科维科技无锡有限公司，All rights reserved</p>
        </div>
        <div class="col-md-4">
            <!-- Social Media -->
            <ul class="social"  style="margin-top:-5px;">
                <li>
                    <a href="#" class="">
                        <h5>苏ICP备17043303号</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="/plugins/jQurey/jquery.min.js"></script>
	<!-- Form Validation -->
  <script src="/plugins/form-validation/jquery.form.js"></script>
  <script src="/plugins/form-validation/jquery.validate.min.js"></script>
	<!-- owl carouserl js -->
	<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
	<!-- bootstrap js -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- wow js -->
	<script src="/plugins/wow-js/wow.min.js"></script>
	<!-- slider js -->
	<script src="/plugins/slider/slider.js"></script>
	<!-- Fancybox -->
	<script src="/plugins/facncybox/jquery.fancybox.js"></script>
	<!-- template main js -->
	<script src="/js/main.js"></script>
 	</body>
</html>
