<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>新闻中心</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog-full-width" style="margin: 50px 0px;">
  <div class="container">
    <div class="row wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:0px; margin-bottom:50px;">
      <div class="col-md-4">
        <a href="/news/5"><img class="img-responsive" src="/images/news/5/1.png" alt=""/></a>
      </div>
      <div class="col-md-8">
        <div class="blog-content">
          <h2 class="blogpost-title">
            <a href="/news/5">高铭科维核心高管受邀到上海唯链洽谈合作</a>
          </h2>
          <div class="blog-meta">
            <span>2018-8-20</span>
            <span>
              <a href="">新闻</a>,<a href="">展会</a>
            </span>
          </div>
          <p>2017深圳国际物联网博览会期间高铭科维CEO刘华博士接受了物联网的独家采访。

          </p>
          <a href="/news/5" class="btn btn-dafault btn-details">全文</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:50px; margin-bottom:50px;">
      <div class="col-md-4">
        <a href="/news/4"><img class="img-responsive" src="/images/news/4/1.png" alt=""/></a>
      </div>
      <div class="col-md-8">
        <div class="blog-content">
          <h2 class="blogpost-title">
            <a href="/news/4">与上海DNV-GL洽谈业务合作</a>
          </h2>
          <div class="blog-meta">
            <span>2018-8-20</span>
            <span>
              <a href="">新闻</a>, <a href="">展会</a>
            </span>
          </div>
          <p>2017深圳国际物联网博览会期间高铭科维CEO刘华博士接受了物联网的独家采访。

          </p>
          <a href="/news/4" class="btn btn-dafault btn-details">全文</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:50px; margin-bottom:50px;">
      <div class="col-md-4">
        <a href="/news/3"><img class="img-responsive" src="/images/news/3/1.png" alt=""/></a>
      </div>
      <div class="col-md-8">
        <div class="blog-content">
          <h2 class="blogpost-title">
            <a href="/news/4">顺利完成印尼市场第一台设备交付</a>
          </h2>
          <div class="blog-meta">
            <span>2018-8-20</span>
            <span>
              <a href="">新闻</a>,<a href="">展会</a>
            </span>
          </div>
          <p>2017深圳国际物联网博览会期间高铭科维CEO刘华博士接受了物联网的独家采访。

          </p>
          <a href="/news/2" class="btn btn-dafault btn-details">全文</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:50px; margin-bottom:50px;">
      <div class="col-md-4">
        <a href="/news/2"><img class="img-responsive" src="/images/news/2/1.png" alt=""/></a>
      </div>
      <div class="col-md-8">
        <div class="blog-content">
          <h2 class="blogpost-title">
            <a href="/news/2">高铭科维CEO刘华博士接受物联传媒独家采访</a>
          </h2>
          <div class="blog-meta">
            <span>2018-8-20</span>
            <span>
              <a href="">新闻</a>,<a href="">展会</a>
            </span>
          </div>
          <p>2017深圳国际物联网博览会期间高铭科维CEO刘华博士接受了物联网的独家采访。

          </p>
          <a href="/news/2" class="btn btn-dafault btn-details">全文</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:50px; margin-bottom:50px;">
      <div class="col-md-4">
        <a href="/news/1"><img class="img-responsive" src="/images/news/1/2.png" alt=""/></a>
      </div>
      <div class="col-md-8">
        <div class="blog-content">
          <h2 class="blogpost-title">
            <a href="/news/1">高铭科维携“ 纳维码”亮相2017年深圳物联网博览会</a>
          </h2>
          <div class="blog-meta">
            <span>2018-8-20</span>
            <span>
              <a href="">新闻</a>, <a href="">展会</a>
            </span>
          </div>
          <p>【中国，深圳，2017年 8月16日】今日，高铭科维携“纳维码”亮相2017年深圳物联网博览会 ，以展览展示、主题发言、会谈等多种形式，与行业客户、同行以及合作伙伴共同探讨数据标识、物联网等行业热点话题，发挥技术优势，提升体验并推动商业增长，加速数字化转型，构建万物互联的智能世界。
          </p>
          <a href="/news/1" class="btn btn-dafault btn-details">全文</a>
        </div>
      </div>
    </div>
  </div>
</section>
