<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">公司核心产品</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:30px;">
          <h2>
            纳维码高速赋码系统
          </h2>
          <p>
            纳维码高速赋码系统是将纳维码嵌入到所需文件内，使文件获得物理性加密，从而大幅提高文件安全防伪性能。
            <br>
            该系统具备良好的可扩展性，可满足不同的配置需求，匹配不同的自动化生产线，并支持多台设备同时操作。
          </p>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/products/HIVE.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->

<!--
==================================================
About Section Start
================================================== -->
<section id="about" style="background: #FCFCFC;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/products/ndcode_reader.jpg" alt="" style="height:300px;margin-left:50px;">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:50px;">
          <h2>
            纳维码专用扫码枪
          </h2>
          <p>
            用于读取纳维码并可当场认证相关信息的专用设备。
            <br>
            该扫码枪设计精巧，使用简便，只需连接USB接口即可。
            <br>
            可达到20次/秒扫描解码，并提供了LED提示灯和提示音，来分辨识别结果。
          </p>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- /#about -->

<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:30px;">
          <h2>
            身份认证系统
          </h2>
          <p>
            身份认证系统可以认证用户身份，会员信息，银行卡等任何通过纳维码加密系统保护的卡片。
            <br>
            该系统内置有线网络接口及无线发射器，可以连接到任何公共或内部网络系统。
            <br>
            该系统具备良好的可扩展性，可满足不同的配置需求，匹配不同的自动化生产线，并支持多台设备同时操作。
          </p>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/products/card_authentication.jpg" alt="" style="height:400px; margin-left:110px; margin-top: -50px;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->

<!--
==================================================
About Section Start
================================================== -->
<section id="about" style="background: #FCFCFC;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/products/pape_capture.jpg" alt="" style="margin-left:0px;">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:30px;">
          <h2>
            纳维码多页文件认证采集系统
          </h2>
          <p>
            纳维码多页文件认证采集系统是一种快速自动扫描设备，扫描速度可达30页/分钟。一次可以扫描50页，支持双页面的文件采集。
            <br>
            配套的应用软件可自动采集文件里自带的数据码，例如：二维码，条形码。
            <br>
            设备通过认证嵌入在文件里的纳维码文件加密系统利用独有的文件编号关联文件内容。
          </p>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- /#about -->
