<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">流通溯源</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/traceability.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:80px;">
          <h2>
            纳维码的应用价值
          </h2>
          <p>
            利用纳维码技术追溯一个产品生产、检验、仓储、配送和消费各个环节，让消费者了解产品安全的生产和流通全过程，防止用户购买到假货的情况发生，提升企业的品牌价值。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->


<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:0px;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">应用与优势</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        利用纳维码隐形、不可复制的特点，使物流码、溯源码、防伪码三码分离，真正达到产品全生命周期内的全程溯源
      </p>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-5 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/1.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                奢侈品防伪
              </a>
            </h4>
            <p>
              无论是腕表、手袋还是书写工具，我们都可以为商品本身打上标记，并且无法被复制，保护品牌价值，这种简单易用的标识系统能为产品、保修卡和包装加贴。构建多维度保护。
            </p>
          </figcaption>
        </figure>
      </div>
      <div class=" col-sm-5 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/2.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                药品与医疗器械监管
              </a>
            </h4>
            <p>
              制药行业的假冒伪劣问题尤为敏感，纳维码将专属产品信息应用到药品包装或者医疗器械本身，实现从药企生产、分销流通到患者用药这一整个流程无缝跟踪和追溯，为药企提供高级别
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-5 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/3.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                农产品追溯
              </a>
            </h4>
            <p>
              给每件农产品专属身份标识，助力农产品从田地到餐桌全程跟踪，让市民明明白白消费。
              <br>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class=" col-sm-5 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/4.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                电子产品防窜货
              </a>
            </h4>
            <p>
              可以在金属铭牌或者产品本身打上隐形标识，杜绝终端窜货问题，防止灰市交易。
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- #works -->
