<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">流通溯源方案</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/traceability.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:80px;">
          <h2>
            行业痛点
          </h2>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过产品追溯不但可以提高企业诚信，同时还可以让溯源来监管不安全产品的出现，让消费者的购物隐患从我们的生活中消失，这样一来就增加了消费的透明，促进产品销量提升，帮助企业快速的发展。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->

<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:50px;background: #FCFCFC;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">解决方案</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        运用纳维码技术给予每个商品唯一的安全身份，防止被篡改和复制，并通过溯源平台记录和查询流通信息
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" >
        <img src="/images/solutions/2/5.png" alt="" width="80%">
      </div>
    </div>
  </div>
</section>
<!-- #works -->


<!--
==================================================
    Service Page Section  Start
================================================== -->
<section id="service-page" class="pages service-page">
    <div class="container">
      <div class="section-heading">
        <h1 class="title wow fadeInDown" data-wow-delay=".3s">技术优势</h1>
      </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="row service-parts">
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                <i class="icon ion-ios-close-circle"></i>
                                <h4>不可复制</h4>
                                <p>自主研发的纳米墨水，<b style="color:#F33005;">无法复制</b></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                <i class="icon ion-ios-eye-off"></i>
                                <h4>隐形</h4>
                                <p>可做成<b style="color:#F33005;">隐形</b>或者<b style="color:#F33005;">不隐形</b>码</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                <i class="icon ion-ios-speedometer"></i>
                                <h4>高速</h4>
                                <p>打码<b style="color:#F33005;">3秒</b>内，扫码<b style="color:#F33005;">1秒</b>内</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                <i class="icon ion-ios-shuffle"></i>
                                <h4>适用广</h4>
                                <p>可以适用于<b style="color:#F33005;">多种材质</b></p>
                            </div>
                        </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:50px;background: #FCFCFC;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">适用领域</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        利用纳维码隐形、不可复制的特点，使物流码、溯源码、防伪码三码分离，真正达到产品全生命周期内的全程溯源
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/1.jpg" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                奢侈品
              </a>
            </h4>
            <p>
              无论是腕表、手袋还是书写工具，我们都可以为商品本身打上标记，并且无法被复制，保护品牌价值
            </p>
          </figcaption>
        </figure>
      </div>
      <div class=" col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/2.jpg" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                医药及医疗器械
              </a>
            </h4>
            <p>
              纳维码技术应用到药品包装或者医疗器械，实现从药企生产、分销流通到患者全流程无缝跟踪和追溯
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/3.jpg" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                农产品
              </a>
            </h4>
            <p>
              给每件农产品专属身份标识，助力农产品从田地到餐桌全程跟踪，让市民明明白白消费。
              <br>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- #works -->
