<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">流通溯源方案</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/traceability.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:80px;">
          <h2>
            行业痛点
          </h2>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            渠道窜货等问题严重的影响企业的营销体系，直接影响企业利润。传统的溯源手段无法作用于商品本身，且极易复制，根本达不到流通溯源的目的。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->

<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:50px;background: #FCFCFC;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">解决方案</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        运用纳维码技术给予每个商品不可篡改、不可复制的唯一的数字身份标识，从信息源头杜绝了造假，保证每一个在数据链中流转的字节都是真实有效的
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" >
        <img src="/images/solutions/2/5.png" alt="" width="80%">
      </div>
    </div>
  </div>
</section>
<!-- #works -->





<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:50px;background: #FCFCFC;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">适用领域</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        利用纳维码隐形、不可复制的特点，使物流码、溯源码、防伪码三码分离，真正达到产品全生命周期内的全程溯源
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/1.jpg" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                奢侈品
              </a>
            </h4>
            <p>
              无论是腕表、手袋还是书写工具，我们都可以为商品本身打上标记，并且无法被复制，保护品牌价值
            </p>
          </figcaption>
        </figure>
      </div>
      <div class=" col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/2.jpg" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                医药及医疗器械
              </a>
            </h4>
            <p>
              纳维码技术应用到药品包装或者医疗器械，实现从药企生产、分销流通到患者全流程无缝跟踪和追溯
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/2/3.jpg" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                农产品
              </a>
            </h4>
            <p>
              给每件农产品专属身份标识，助力农产品从田地到餐桌全程跟踪，让市民明明白白消费。
              <br>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- #works -->
