<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">文档及票据防伪方案</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/authentication.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:80px;">
          <h2>
            行业痛点
          </h2>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            信息技术的进步和低成本的制作设备使纸质类证件卡片的伪造相对容易，我们可以为文件添加经由纳维码加密的个人信息，保证安全性，唯一性。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->

<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:0px;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">解决方案</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        纳维码技术可以为任何纸类文件提供物理和数据的双重加密保护，既满足了票据证书的物理防伪需求，同时又开创性的提供了唯一的数据身份密钥，保证内容无法仿造
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" >
        <img src="/images/solutions/3/4.png" alt="" width="80%">
      </div>
    </div>
  </div>
</section>
<!-- #works -->





<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="background: #FCFCFC;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">适用领域</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        利用纳维码隐形、不可复制的特点，为每张纸赋予全世界唯一的ID，从物理层面保证信息的安全
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/3/1.png" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                证书、票据防伪
              </a>
            </h4>
            <p>
              确保证书、票据的真实性，保护资产的真正价值。
              <br><br>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/solutions/3/2.jpg" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                证卡防伪
              </a>
            </h4>
            <p>
              为证卡提供新型的物理和数据双重加密技术，杜绝证卡的非法使用。
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/solutions/3/3.png" class="img-responsive" alt=""  style="height:220px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                机密文件
              </a>
            </h4>
            <p>
              为机密文件提供隐蔽的保护，每一份文件都有独特的身份秘钥，无法仿造。
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- #works -->
