<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">工业产品质量追溯方案</h2>
                </div>
            </div>
        </div>
    </div>d z
</section>


<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="/images/solutions/1/5.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="margin-top:10px;">
          <h2>
            行业痛点
          </h2>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品质量是企业的生存之本质量是企业的生命线，是企业生存和发展的根本命脉。
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工业产品质量追溯是工业物联网驱动产业变革的一个典型应用场景。它是指产品从制造、流通、消费到回收的整个生命周期过程中，利用标识技术记录和查询产品状态、属性、位置等信息的过程，其目的是全方位记录产品信息数据，促进企业内部信息系统之间、企业之间、企业和用户之间信息的有效共享。
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每个零部件及产品的标识是实现产品质量追溯的核心关键。
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /#about -->

<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:50px;background: #FCFCFC;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">解决方案</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        赋予每一个产品、零部件、机器设备唯一的“身份证”，实现资源区分和管理
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" >
        <img src="/images/solutions/1/111.png" alt="" width="80%">
      </div>
    </div>
  </div>
</section>
<!-- #works -->




<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" style="padding-top:50px;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">适用领域</h1>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-5 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
          <div class="img-wrapper">
            <img src="/images/solutions/1/6.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                汽车零配件
              </a>
            </h4>
            <p>对于汽车零配件进行数字化标识，便于管理和追踪溯源。</p>
          </figcaption>
        </figure>
      </div>
      <div class=" col-sm-5 col-xs-12">
        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="img-wrapper">
            <img src="/images/solutions/1/7.jpg" class="img-responsive" alt=""  style="height:270px;width:100%;">
          </div>
          <figcaption>
            <h4>
              <a href="#">
                风电设备制造
              </a>
            </h4>
            <p>大型风电设备的质量取决于每个零部件的严格管理。</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- #works -->
