<!--
==================================================
Global Page Section Start
================================================== -->
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>高铭科维CEO刘华博士接受物联传媒独家采访</h2>
          <div class="portfolio-meta">
            <span>2017-8-20</span>|
            <span> <a href="">新闻</a>,<a href="">展会</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#Page header-->

<section class="single-post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-content">

          <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=d055114ysen&auto=0" allowFullScreen="true" quality="high" width="100%" height="600px" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" style="margin-bottom: 20px;"></embed>

          <p>
            2017深圳国际物联网博览会期间高铭科维CEO刘华博士接受了物联网的独家采访。
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
