<!--
==================================================
Global Page Section Start
================================================== -->
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>顺利完成印尼市场第一台高速赋码系统交付</h2>
          <div class="portfolio-meta">
                        <span>2018-5-25</span>|
                        <span> <a href="">新闻</a>,<a href="">项目交付</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#Page header-->

<section class="single-post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-content">

          <div class="post-img">
            <img src="/images/news/3/1.png" alt="" height="400px">
          </div>

          <p>
            日前，高铭科维向PERUM PERURI交付了第一台hive3 高速赋码系统，PERUM PERURI是印度尼西亚国家钞票/安全打印机和铸币厂，主要为输出防伪纸张和 解决方案。是，于1971年9月15日通过合并国家薄荷Artha Yasa和国家印刷商Pertjetakan Kebajoran成立。
          </p>
          <p>本次交付，是一个新的非常重要的里程碑，这种开创性的技术可以解决票据及文档防伪的应用，还可以不断扩展至其他的防伪领域。解决方案里包含了区块链技术，纳米技术，技术的跨界融合开辟了新的可能性，并带来了革命性的方法来保护重要数据和文件。</p>
        </div>

      </div>
    </div>
  </div>
</section>
