<!--
==================================================
Global Page Section Start
================================================== -->
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>高铭科维携“ 纳维码”亮相2017年深圳物联网博览会</h2>
          <div class="portfolio-meta">
            <span>2017-8-20</span>|
            <span>
              <a href="">新闻</a>,<a href="">展会</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#Page header-->

<section class="single-post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-content">
          <p>
            【中国，深圳，2017年 8月16日】今日，高铭科维携“纳维码”亮相2017年深圳物联网博览会 ，以展览展示、主题发言、会谈等多种形式，与行业客户、同行以及合作伙伴共同探讨数据标识、物联网等行业热点话题，发挥技术优势，提升体验并推动商业增长，加速数字化转型，构建万物互联的智能世界。

          </p>
          <div class="post-img">
            <img src="/images/news/1/1.png" alt="" height="400px">
          </div>

          <p>
            本次展览会上，现场的技术团队结合行业的特点和客户诉求，同客户深入交流并且推介个性化解决方案，帮助客户解决实际问题。
            高铭科维秉着以协同创未来的信念同行业伙伴们一起共同推进产业进程，共建和谐丰富的商业生态，携手构建万物互联的智能世界。
          </p>
          <div class="post-img">
            <img src="/images/news/1/2.png" alt="" height="400px">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
