<!--
==================================================
Global Page Section Start
================================================== -->
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>上海唯链携手高铭科维深化战略合作</h2>
          <div class="portfolio-meta">
            <span>2018-8-20</span>|
            <span> <a href="">新闻</a>,<a href="">商业合作</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#Page header-->

<section class="single-post">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-content">

          <div class="post-img">
            <img src="/images/news/5/1.png" alt="" height="400px">
          </div>

          <p>
            高铭科维高管受邀参加唯链见面会，共同探讨纳维码技术与行业解决方案落地。
          </p>
          <p>
            整个会谈围绕“技术创新”和“行业落地”两个主题，从纳维码的技术优势、适用范围、行业应用、产业落地等多个维度进行交流，康先生充分肯定了纳维码的技术优势以及高铭科维的产业能力，更是就双方业务中的纳维码的应用落地点达成了合作意向。
          </p>
          <p>
            在物联网时代，高铭科维在创新这条道路上大踏步前进，自主研发以纳米材料为基材的新一代数据标识，并且实现了材料学、平面光学以及区块链等新技术的跨界融合。作为数据标识领域的创新者，高铭科维得到了业内业外的一致认可。
          </p>



        </div>

      </div>
    </div>
  </div>
</section>
